body {
  background-image: url("imagenes/fondo1.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin-top: 5%;

}
h4{
  margin: 0px 0px 0px 0px;
}

.direcciones
{
  width: 70px;
}

.primero
{
  
  width: 90%;
  height: 600px;
  padding-left: 5%;
  justify-content: center;
  padding-right: 5%;
  
}

.datosI {
  
  display: inline-block;
  z-index: 1;
  background:#FFFFFF;
  width: 360px;
  margin: 0px 0px 0px 10%;
  margin-right: 10px;
  padding: 45px;
  text-align:left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  height: 495px;

}
.divDecimalHexa
{
  display: inline-block;
  position: absolute;
}
.dec{

  
  z-index: 1;
  background:#FFFFFF;
  max-width: 360px;
  margin: 0px 0px 0% 5%;
  margin-right: 10%;
  padding: 45px;
  text-align:left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  height: 300px;
}
.datosD{

  position: relative;
  background:#FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  margin-top: -620px;
  margin-right: 150px;
  padding: 45px;
  text-align:left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.datosH{

  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 15px 0px 0% 5%;
  margin-right: 10%;
  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
  height: 88px;
}

.datosB{

  background:#ffffff;
  max-width: 775px;
  margin: 0 20px 0px 100px;
  margin-left: 188px;
  padding: 45px;
  text-align:left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.boton1{

  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #639fc7;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.cont-decimal{
  width: 360px;
}


